nav {
    font-weight: 500;
}

#fejlec {
    height: 100vh;
    min-height: 400px;
    background-image: url(kepek/hatter.jpg);
    font-family: 'Cinzel', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1{
    background-color: rgba(248, 248, 248, 0.75);
    margin-top: 230px;
    padding-left: 15rem;   
    color: blue;
    font-weight: bolder; 
    text-align: left;
    font-size: 3em;
}

h2 {
    padding-top: 10px;
    font-weight: 300
}

section {
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
}

a:link,
a:visited {
    color: rgba(125, 204, 45, 0.803);
    ;
}

a:hover,
a:active {
    color: rgb(140, 23, 23);
    text-decoration: none;
}

.card {
    height: 100% !important;
}

.alaphatter {
    background-color:white;
}

body {
    line-height: 1.8;
}

 #motto{background-color: rgba(248, 248, 248, 0.75);
    font-family: "Cinzel";
    color: blue;
     font-size: 3em;
     font-weight: bold;
     text-indent: 200px;
 }

 #internet img{
     max-width: 100%;     
      }
p{
    font-weight: 300;
}
.bal{
    
    float: left;
    width:50%; 
    padding: 6px;   
    border: 3px solid blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.jobb{
    
    float: right;
    width:50%;
    padding: 6px;
    border: 3px solid blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tarto{
    margin: 5px auto;
    width: 100%;
    display:flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.felso{
    width:100%;
    border: 3px solid blue;
    margin: 10px auto;
    padding: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}